ChunkedReadProj/SOA/WSDLs/ChunkedRead.wsdl

<wsdl:definitions
     name="ChunkedRead"
     targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/file/Batch8/ChunkedReadProj/ChunkedRead"
     xmlns:tns="http://xmlns.oracle.com/pcbpel/adapter/file/Batch8/ChunkedReadProj/ChunkedRead"
     xmlns:jca="http://xmlns.oracle.com/pcbpel/wsdl/jca/"
     xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:imp1="http://TargetNamespace.com/ChunkedRead"
    >
  <plt:partnerLinkType name="ChunkedRead_plt" >
    <plt:role name="ChunkedRead_role" >
      <plt:portType name="tns:ChunkedRead_ptt" />
    </plt:role>
  </plt:partnerLinkType>
    <wsdl:types>
      <schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/file/Batch8/ChunkedReadProj/ChunkedRead"
              xmlns="http://www.w3.org/2001/XMLSchema" >
        <import namespace="http://TargetNamespace.com/ChunkedRead" schemaLocation="../Schemas/nxsd_Studentinfo.xsd" />
      <element name="empty"><complexType/></element>
      </schema>
    </wsdl:types>
    <wsdl:message name="Empty_msg">
        <wsdl:part name="Empty" element="tns:empty"/>
    </wsdl:message>
    <wsdl:message name="ChunkedRead_msg">
        <wsdl:part name="body" element="imp1:Stu_Collection"/>
    </wsdl:message>
    <wsdl:portType name="ChunkedRead_ptt">
        <wsdl:operation name="ChunkedRead">
            <wsdl:input message="tns:Empty_msg"/>
            <wsdl:output message="tns:ChunkedRead_msg"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
