ConsumeMessageFromTopicProj/SOA/Schemas/ConsumeMessageInfromTopicBPEL.xsd

<?xml version="1.0" encoding="UTF-8"?> 
<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://xmlns.oracle.com/Batch8/PublishMessageIntoTopic/PublishMessageIntoTopicBPEL"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="process">
		<complexType>
			<sequence>
				<element name="SNO" type="string"/>
                                <element name="SNAME" type="string"/>
                                <element name="SCITY" type="string"/>
			</sequence>
		</complexType>
	</element>
</schema>